@{
    ViewData["Title"] = "Home Page";
}

<h2>Client application</h2>

<ul>
    <li>@Html.ActionLink("Standalone Api", "Standalone")</li>
    <li>@Html.ActionLink("Dependent Api", "Dependent")</li>
</ul>